#pageVoiture .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

img.voiture-photo {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #pageVoiture .container {
        grid-template-columns: 1fr;
    }
}

/* Styles des articles */
#pageVoiture article.colonne {
    display: flex;
    flex-direction: column;
    padding: 0; /* Suppression du padding pour éviter les espaces */
    background: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%; 
}

/* Options */
#pageVoiture .options {
    max-width: 600px;
    width: 90%;
    margin: auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

#pageVoiture h2 {
    color: #333;
}

#pageVoiture label, select, button {
    display: block;
    margin: 10px auto;
    font-size: 18px;
}

/* Panier */
#pageVoiture .panier-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

#panier {
    list-style-type: none;
    padding: 0;
}

#panier li {
    margin-bottom: 10px;
}

.car-item {
    width: 100%; /* Pour les petits écrans */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1; /* Fait en sorte que cette div prenne tout l'espace restant */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Permet à la section de s'étendre sans chevaucher le footer */
    overflow: auto; /* Ajoute un scroll si nécessaire */
}

footer {
    flex-shrink: 0; /* Empêche le footer de rétrécir */
}

/* Mode sombre */
.dark-mode {
    background-color:#1f1f1f !important;
    color: #ffffff !important;
}

/* Changer la couleur des éléments Bootstrap */
.dark-mode .navbar {
    background-color: #222529!important;
}

.dark-mode .card {
    background-color: #1e1e1e !important;
    color: white;
}

.dark-mode .filtres-colonne{
    background-color:#1f1f1f !important;
}

.dark-mode .voitures-container{
    background-color: #1f1f1f !important;
}

.dark-mode .login{
    background-color: #222529 !important;
}

.login{
    width: 18rem;
}

.dark-mode .admin {
    background-color: #222529 !important;
}

.modal-title {
    color: white !important;
}

.mentions{
    cursor: pointer;
}